<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.blossom.sagittarius.domain"/>
        <package name="com.blossom.sagittarius.domain.security"/>
    </typeAliases>
    <mappers>

        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/ShoppingCartMapper.xml"/>
        <mapper resource="mapper/CartItemMapper.xml"/>
        <mapper resource="mapper/UserPaymentMapper.xml"/>
        <mapper resource="mapper/UserShippingMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
    </mappers>



</configuration>